* {
    margin: 6px 0px;
    padding: 0;
    font-family: monospace;
}

.container {
    padding: 10px 20px;
}

.image img {
    width: 180px;
    height: 110px;
}

.raw {
    margin-bottom: 10px;
    border: 1px solid;
    padding: 10px;
}

.upload-toggle {
    background-color: rgba(139, 122, 216, 0.116);
    padding: 20px 10px;
    border: 1px solid;
}